.form-wrap {
    margin: 0 -15px;
    padding: 30px 15px;
    background: $rose;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 60px;
        height: 40px;
        border: solid 5px $light-grey;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        @include md {
            width: 90px;
            height: 60px;
            bottom: -30px;
        }

        @include lg {
            width: 160px;
            height: 110px;
            border: solid 10px $light-grey;
            bottom: -55px;
        }
    }

    h3 {
        font-family: $serif;
        font-size: 1.25rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    > p {
        font-family: $sans-serif;
        color: white;
        text-align: center;
        margin-top: 0;
    }

    @include md {
        h3 {
            font-size: 1.5rem;
        }

        > p {
            font-size: 1.125rem;
        }
    }

    @include lg {
        padding: 38px 0 50px 0;

        h3 {
            font-size: 2rem;
            line-height: .75;
            letter-spacing: 1.25px;
            margin-bottom: 0;
        }

        > p {
            font-size: 1.4375rem;
            line-height: 1.875rem;
            letter-spacing: 1.1px;
            margin-top: 0;
        }
    }

    @include xl {
        padding: 68px 0 148px 0;
    }
}

.inputs-wrap {
    padding: 0 15px;

    @include xl {
        padding: 0;
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-wrap {
            &:nth-child(1),
            &:nth-child(2) {
                order: 1;
                width: 270px;
            }

            &:nth-child(3) {
                order: 3;
                margin: 0 auto;
            }

            &:nth-child(4) {
                order: 2;
                height: 64px;
            }
        }
    }
}


.input-wrap {
    position: relative;
    margin-bottom: 15px;

    @include md {
        &:nth-child(1),
        &:nth-child(2) {
            width: 49%;
            display: inline-block;
        }

        &:nth-child(2) {
            float: right;
        }
    }

    @include xl {
        margin-bottom: 30px;

        &:nth-child(2) {
            float: none;
        }
    }

    label {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-family: $sans-serif;
        transition: all .3s ease;

        @include lg {
            font-size: 1.3125rem;
            line-height: 1;
            letter-spacing: 1.1px;
        }
    }

    &.focus {
        label {
            top: 20%;
            font-size: .75rem;
        }
    }

    span {
        display: block;
        max-width: 100%;

        input {
            width: 100%;
            border: none;
            padding: 20px;
            border-radius: 0;
            font-family: $sans-serif;
        }
    }

    .special {
        .wpcf7-list-item.first.last {
            margin: 0;

            label {
                position: static;
                transform: none;
                display: flex;

                @include lg {
                    width: 482px;
                    margin: 0 auto;
                }
            }

            input[type="checkbox"] {
                appearance: none;
                position: relative;
                background: rgba(0, 0, 0, 0);
                display: block;
                width: 16px;
                height: 16px;
                margin-right: 15px;
                padding: 8px;

                &:after {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 16px;
                    border: solid 1px white;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $rose;
                }

                &:checked {
                    &:before {
                        content: "\2713";
                        color: black;
                        font-size: 0.75rem;
                        line-height: 1;
                        padding: 3px 0 0 3px;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }

                    &:after {
                        background: white;
                    }
                }
            }

            .wpcf7-list-item-label {
                font-family: $sans-serif;
                font-size: 0.9375rem;
                color: white;

                @include lg {
                    width: 460px;
                }
            }
        }
    }

    input[type="submit"] {
        display: block;
        border: solid 1px black;
        background: black;
        border-radius: 0;
        font-family: $serif;
        color: white;
        text-transform: uppercase;
        padding: 12px 16px;
        margin: 0 auto;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover,
        &:focus {
            border: solid 1px white;
            background: $rose;
        }

        @include lg {
            font-size: 1.3125rem;
            line-height: 1;
            letter-spacing: 1.25px;
            margin: 30px auto;
        }

        @include xl {
            margin-top: 0;
            width: 140px;
            height: 64px;
        }
    }
}

div.wpcf7 .ajax-loader {
    display: none !important;
}

div.wpcf7-response-output {
    background: white;
}