@mixin sm {
    @media (min-width: $sm-devices) {
        @content;
    }
}

@mixin md {
    @media (min-width: $md-devices) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $lg-devices) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $xl-devices) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: $xxl-devices) {
        @content;
    }
}