.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(73, 73, 73, .95);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 0;
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease;

    @include md {
        padding: 120px 0;
    }
}

.container {
    width: calc(100% - 60px);
    background: white;
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .1);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: solid 1px white;
        z-index: 0;
    }

    @include xl {
        width: 1140px;
    }

    @include xxl {
        width: 1300px;
    }
}

.invite-details {
    position: relative;
    z-index: 9;
}

.img-left-wrap,
.img-right-wrap {
    position: absolute;
    display: none;
    z-index: 19;

    img {
        width: 100%;
    }
}

@include xl {
    .img-left-wrap,
    .img-right-wrap {
        display: block;
    }

    .img-left-wrap {
        top: 800px;
        left: 0;
        width: 240px;
    }

    .img-right-wrap {
        top: 160px;
        right: -60px;
        width: 120px;
    }
}

@media (min-width: 1440px) {
    .img-left-wrap {
        width: 320px;
    }
}

@include xxl {
    .img-left-wrap {
        width: 460px;
    }

    .img-right-wrap {
        right: -80px;
        width: 160px;
    }
}

@media (min-width: 1920px) {
    .img-left-wrap {
        width: 569px;
    }

    .img-right-wrap {
        right: -88.5px;
        width: 177px;
    }
}


.cls-btn-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 15px;

    @include xl {
        padding: 30px 15px;
    }

    button {
        border: none;
        background: transparent;
        padding: 0;
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer;

        span {
            display: block;
            width: 18px;
            height: 1px;
            background: $rose;
            transform: rotate(45deg);
            position: absolute;
            left: -2px;

            &:after {
                content: "";
                display: block;
                width: 18px;
                height: 1px;
                background: $rose;
                transform: rotate(-90deg);
                position: absolute;
                left: 0;
            }
        }
    }
}

.title-wrap {
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 60px;
        height: 360px;
        border: solid 5px $light-grey;
        top: -46%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        @media (min-width: 322px) {
            height: 320px;
            top: -49%;
        }

        @media (min-width: 517px) {
            height: 295px;
            top: -60%;
        }

        @include md {
            width: 90px;
            height: 340px;
            top: -54%;
        }

        @include lg {
            width: 160px;
            height: 510px;
            border: solid 10px $light-grey;
            top: -155px;
        }
    }

    h2 {
        margin: 26px 0;
        text-align: center;
        position: relative;
        z-index: 1;

        span {
            display: block;
            color: black;
            margin: 0 auto;

            &:nth-child(1) {
                font-family: $sans-serif;
                font-size: 1.25rem;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &:nth-child(2) {
                font-family: $serif;
                font-style: italic;
                font-size: 1rem;
                line-height: 3;
            }

            &:nth-child(3) {
                font-family: $serif;
                font-size: 2rem;
                line-height: 1;
                text-transform: uppercase;
            }

            &:nth-child(4) {
                color: $rose;
                font-family: $serif;
                font-size: 2rem;
                line-height: 1;
                text-transform: uppercase;
            }

            &:nth-child(5) {
                font-family: $serif;
                font-size: 2rem;
                line-height: 1;
                text-transform: uppercase;
            }

            @include md {
                &:nth-child(2) {
                    font-size: 1.25rem;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    font-size: 2.5rem;
                }
            }

            @include lg {
                &:nth-child(1) {
                    font-size: 1.3125rem;
                    line-height: 2.1875rem;
                    width: 310px;

                }

                &:nth-child(2) {
                    font-size: 1.5rem;
                    line-height: 3.75rem;
                }

                &:nth-child(3) {
                    font-size: 4.375rem;
                    line-height: 3.75rem;
                }

                &:nth-child(4) {
                    font-size: 4.375rem;
                    line-height: 3.75rem;
                }

                &:nth-child(5) {
                    font-size: 4.375rem;
                    line-height: 3.75rem;
                }
            }
        }
    }
}

.details-wrap {
    margin-bottom: 30px;

    @include lg {
        margin-bottom: 100px;
    }

    hr {
        width: 160px;
        height: 2px;
        background-color: $rose;
    }

    p {
        text-align: center;
        font-family: $sans-serif;
        margin: 0 auto;

        &.lead {
            font-size: 1.25rem;
            margin-bottom: 24px;
        }

        &.items-intro {
            text-transform: uppercase;
        }

        @include md {
            &.items-intro {
                font-size: 1.25rem;
                margin-bottom: 15px;
            }
        }

        @include lg {
            &.lead {
                font-size: 1.4375rem;
                line-height: 1.875rem;
                letter-spacing: .1px;
                width: 684px;
                margin: 90px auto 47px auto;
            }

            &.items-intro {
                font-size: 1.3125rem;
                line-height: 2.1875rem;
                margin: 34px auto 32px auto;
            }

        }
    }

    ul {
        list-style: none;
    }

    ul {
        li {
            font-family: $sans-serif;
            position: relative;

            &:before {
                content: "";
                background: $rose;
                display: inline-block;
                width: 5px;
                height: 5px;
                transform: rotate(45deg);
                margin: 0 10px 3px -15px;
            }
        }

        @include md {
            li {
                font-size: 1.125rem;
            }
        }

        @include lg {
            li {
                font-size: 1.3125rem;
                line-height: 2rem;

                &:before {
                    margin: 0 20px 5px 0;
                }
            }
        }
    }
}

.details-main {
    ul {
        margin: 0;
    }
}
