/*!
Theme Name: Chisel and Shavings
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: chisel-and-shavings
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Chisel and Shavings is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import url(https://use.typekit.net/hjm1xge.css);html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;overflow:visible;background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;color:#4169e1}abbr[title]{border-bottom:none;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none;height:auto;max-width:100%}body,button,input,optgroup,select,textarea{margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio],legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}body,input,optgroup,select{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}button,textarea{font-family:sans-serif}button{color:#404040}textarea{font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address,table{margin:0 0 1.5em}code,kbd,pre,tt,var{font-size:15px;font-size:.9375rem}pre{background:#eee;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;font-family:"Courier 10 Pitch",Courier,monospace}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}body{background:#fff}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}figure{margin:1em 0}table{width:100%}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb}input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a:visited{color:purple}a:active,a:focus,a:hover{color:#191970}a:focus{outline:thin dotted}a:active,a:hover{outline:0}.main-navigation{clear:both;display:block;float:left;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2);box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{left:100%}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.main-navigation.toggled ul,.menu-toggle{display:block}@media screen and (min-width:37.5em){.menu-toggle{display:none}.main-navigation ul{display:block}}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.clear:after,.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after{clear:both}.widget{margin:0 0 1.5em}.widget select,embed,iframe,object{max-width:100%}.sticky{display:block}.page,.post{margin:0 0 1.5em}.updated:not(.published){display:none}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.bypostauthor,.infinity-end.neverending .site-footer{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}
body{position:relative}.flex-center{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.popover-wrap{position:absolute;top:0;left:0;width:100%;height:100vh;background:rgba(73,73,73,.95);overflow-x:hidden;overflow-y:auto;padding:60px 0;visibility:hidden;opacity:0;-webkit-transition:all .6s ease;transition:all .6s ease}@media (min-width:768px){.popover-wrap{padding:120px 0}}.container{width:calc(100% - 60px);background:#fff;position:relative;padding:0 15px;margin:0 auto;-webkit-box-shadow:0 0 10px 0 rgba(255,255,255,.1);box-shadow:0 0 10px 0 rgba(255,255,255,.1)}.container:after,.title-wrap:after{content:"";display:block;position:absolute;left:50%;z-index:0}.container:after{width:calc(100% + 20px);height:calc(100% + 20px);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);top:50%;border:solid 1px #fff}@media (min-width:1200px){.container{width:1140px}}@media (min-width:1600px){.container{width:1300px}}.invite-details{position:relative;z-index:9}.img-left-wrap,.img-right-wrap{position:absolute;display:none;z-index:19}.img-left-wrap img,.img-right-wrap img{width:100%}@media (min-width:1200px){.img-left-wrap,.img-right-wrap{display:block}.img-left-wrap{top:800px;left:0;width:240px}.img-right-wrap{top:160px;right:-60px;width:120px}}@media (min-width:1440px){.img-left-wrap{width:320px}}@media (min-width:1600px){.img-left-wrap{width:460px}.img-right-wrap{right:-80px;width:160px}}@media (min-width:1920px){.img-left-wrap{width:569px}.img-right-wrap{right:-88.5px;width:177px}}.cls-btn-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;padding:15px}@media (min-width:1200px){.cls-btn-wrap{padding:30px 15px}}.cls-btn-wrap button{border:0;background:0 0;padding:0;width:14px;height:14px;position:relative;cursor:pointer}.cls-btn-wrap button span,.cls-btn-wrap button span:after{display:block;width:18px;height:1px;background:#9f173d;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;left:-2px}.cls-btn-wrap button span:after{content:"";-webkit-transform:rotate(-90deg);transform:rotate(-90deg);left:0}.title-wrap,.title-wrap h2{position:relative}.title-wrap:after{width:60px;height:360px;border:solid 5px #f5f5f5;top:-46%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}@media (min-width:322px){.title-wrap:after{height:320px;top:-49%}}@media (min-width:517px){.title-wrap:after{height:295px;top:-60%}}@media (min-width:768px){.title-wrap:after{width:90px;height:340px;top:-54%}}@media (min-width:992px){.title-wrap:after{width:160px;height:510px;border:solid 10px #f5f5f5;top:-155px}}.title-wrap h2{margin:26px 0;text-align:center;z-index:1}.title-wrap h2 span{display:block;color:#000;margin:0 auto}.title-wrap h2 span:nth-child(1){font-family:"futura-pt","Arial",Sans-serif;font-size:1.25rem;font-weight:400;letter-spacing:1px;text-transform:uppercase}.title-wrap h2 span:nth-child(2){font-family:"freight-display-pro","Times New Roman",Serif;font-style:italic;font-size:1rem;line-height:3}.title-wrap h2 span:nth-child(3){font-family:"freight-display-pro","Times New Roman",Serif;font-size:2rem;line-height:1;text-transform:uppercase}.title-wrap h2 span:nth-child(4){color:#9f173d}.title-wrap h2 span:nth-child(4),.title-wrap h2 span:nth-child(5){font-family:"freight-display-pro","Times New Roman",Serif;font-size:2rem;line-height:1;text-transform:uppercase}@media (min-width:768px){.title-wrap h2 span:nth-child(2){font-size:1.25rem}.title-wrap h2 span:nth-child(3),.title-wrap h2 span:nth-child(4),.title-wrap h2 span:nth-child(5){font-size:2.5rem}}@media (min-width:992px){.title-wrap h2 span:nth-child(1){font-size:1.3125rem;line-height:2.1875rem;width:310px}.title-wrap h2 span:nth-child(2){font-size:1.5rem;line-height:3.75rem}.title-wrap h2 span:nth-child(3),.title-wrap h2 span:nth-child(4),.title-wrap h2 span:nth-child(5){font-size:4.375rem;line-height:3.75rem}}.details-wrap{margin-bottom:30px}@media (min-width:992px){.details-wrap{margin-bottom:100px}}.details-wrap hr{width:160px;height:2px;background-color:#9f173d}.details-wrap p,.details-wrap ul li{font-family:"futura-pt","Arial",Sans-serif}.details-wrap p{text-align:center;margin:0 auto}.details-wrap p.lead{font-size:1.25rem;margin-bottom:24px}.details-wrap p.items-intro{text-transform:uppercase}@media (min-width:768px){.details-wrap p.items-intro{font-size:1.25rem;margin-bottom:15px}}@media (min-width:992px){.details-wrap p.lead{font-size:1.4375rem;line-height:1.875rem;letter-spacing:.1px;width:684px;margin:90px auto 47px}.details-wrap p.items-intro{font-size:1.3125rem;line-height:2.1875rem;margin:34px auto 32px}}.details-wrap ul{list-style:none}.details-wrap ul li{position:relative}.details-wrap ul li:before{content:"";background:#9f173d;display:inline-block;width:5px;height:5px;-webkit-transform:rotate(45deg);transform:rotate(45deg);margin:0 10px 3px -15px}@media (min-width:768px){.details-wrap ul li{font-size:1.125rem}}@media (min-width:992px){.details-wrap ul li{font-size:1.3125rem;line-height:2rem}.details-wrap ul li:before{margin:0 20px 5px 0}}.details-main ul,.input-wrap .special .wpcf7-list-item.first.last{margin:0}.form-wrap{margin:0 -15px;padding:30px 15px;background:#9f173d;position:relative}.form-wrap:after,.input-wrap .special .wpcf7-list-item.first.last input[type=checkbox]:after{content:"";display:block;position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.form-wrap:after{bottom:-20px;z-index:0;width:60px;height:40px;border:solid 5px #f5f5f5}@media (min-width:768px){.form-wrap:after{width:90px;height:60px;bottom:-30px}}@media (min-width:992px){.form-wrap:after{width:160px;height:110px;border:solid 10px #f5f5f5;bottom:-55px}}.form-wrap h3,.form-wrap>p{color:#fff;text-align:center}.form-wrap h3{font-family:"freight-display-pro","Times New Roman",Serif;font-size:1.25rem;text-transform:uppercase;margin-bottom:0}.form-wrap>p{margin-top:0}@media (min-width:768px){.form-wrap h3{font-size:1.5rem}.form-wrap>p{font-size:1.125rem}}@media (min-width:992px){.form-wrap{padding:38px 0 50px}.form-wrap h3{font-size:2rem;line-height:.75;letter-spacing:1.25px;margin-bottom:0}.form-wrap>p{font-size:1.4375rem;line-height:1.875rem;letter-spacing:1.1px;margin-top:0}}@media (min-width:1200px){.form-wrap{padding:68px 0 148px}}.inputs-wrap{padding:0 15px}@media (min-width:1200px){.inputs-wrap{padding:0;width:700px;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.inputs-wrap .input-wrap:nth-child(1),.inputs-wrap .input-wrap:nth-child(2){-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;width:270px}.inputs-wrap .input-wrap:nth-child(3){-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3;margin:0 auto}.inputs-wrap .input-wrap:nth-child(4){-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;height:64px}}.input-wrap{position:relative;margin-bottom:15px}@media (min-width:768px){.input-wrap:nth-child(1),.input-wrap:nth-child(2){width:49%;display:inline-block}.input-wrap:nth-child(2){float:right}}@media (min-width:1200px){.input-wrap{margin-bottom:30px}.input-wrap:nth-child(2){float:none}}.form-wrap>p,.input-wrap label,.input-wrap span input{font-family:"futura-pt","Arial",Sans-serif}.input-wrap label{position:absolute;z-index:1;top:50%;left:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .3s ease;transition:all .3s ease}@media (min-width:992px){.input-wrap label{font-size:1.3125rem;line-height:1;letter-spacing:1.1px}}.input-wrap.focus label{top:20%;font-size:.75rem}.input-wrap span{display:block;max-width:100%}.input-wrap span input{width:100%;border:0;padding:20px;border-radius:0}.input-wrap .special .wpcf7-list-item.first.last label{position:static;-webkit-transform:none;transform:none;display:-webkit-box;display:-ms-flexbox;display:flex}@media (min-width:992px){.input-wrap .special .wpcf7-list-item.first.last label{width:482px;margin:0 auto}}.input-wrap .special .wpcf7-list-item.first.last input[type=checkbox]{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;background:0 0;display:block;width:16px;height:16px;margin-right:15px;padding:8px}.input-wrap .special .wpcf7-list-item.first.last input[type=checkbox]:after{width:16px;height:16px;border:solid 1px #fff;top:0;background:#9f173d}.input-wrap .special .wpcf7-list-item.first.last input[type=checkbox]:checked:before{content:"\2713";color:#000;font-size:.75rem;line-height:1;padding:3px 0 0 3px;width:16px;height:16px;position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:1}.input-wrap .special .wpcf7-list-item.first.last input[type=checkbox]:checked:after{background:#fff}.input-wrap .special .wpcf7-list-item.first.last .wpcf7-list-item-label{font-family:"futura-pt","Arial",Sans-serif;font-size:.9375rem;color:#fff}@media (min-width:992px){.input-wrap .special .wpcf7-list-item.first.last .wpcf7-list-item-label{width:460px}}.input-wrap input[type=submit]{display:block;border:solid 1px #000;background:#000;border-radius:0;font-family:"freight-display-pro","Times New Roman",Serif;color:#fff;text-transform:uppercase;padding:12px 16px;margin:0 auto;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;cursor:pointer}.input-wrap input[type=submit]:focus,.input-wrap input[type=submit]:hover{border:solid 1px #fff;background:#9f173d}@media (min-width:992px){.input-wrap input[type=submit]{font-size:1.3125rem;line-height:1;letter-spacing:1.25px;margin:30px auto}}@media (min-width:1200px){.input-wrap input[type=submit]{margin-top:0;width:140px;height:64px}}div.wpcf7 .ajax-loader{display:none!important}div.wpcf7-response-output{background:#fff}